<h3>Add new contact details</h3>
<hr>

<form class="form" #f1="ngForm">

  <div class="form-group">
    <label for="firstname">Firstname</label>
    <input type="text" id="firstname" class="form-control" name="firstname" [(ngModel)]="contact.firstname" required
      minlength="3" maxlength="15" #firstname="ngModel">
  </div>

  <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="err">
    <div *ngIf="firstname.errors['required']">
      Firstname is required
    </div>
    <div *ngIf="firstname.errors.minlength">
      Firstname must have at least 3 charecters
    </div>
    <div *ngIf="firstname.errors.maxlength">
      Firstname cant have more thank 15 characters
    </div>
  </div>

  <div class="form-group">
    <label for="lastname">Lastname</label>
    <input type="text" id="lastname" class="form-control" name="lastname" [(ngModel)]="contact.lastname">
  </div>

  <div class="form-group">
    <label>Gender</label><br>
    <label><input type="radio" name="gender" [(ngModel)]="contact.gender" value="Male">Male</label>
    <label><input type="radio" name="gender" [(ngModel)]="contact.gender" value="Female">Female</label>
  </div>

  <div class="form-group">
    <label for="emailaddress">Email address</label>
    <input type="text" id="emailaddress" class="form-control" #email="ngModel" required name="email"
      [(ngModel)]="contact.email">
  </div>

  <div class="form-group">
    <label for="phonenumber">Phone number</label>
    <input type="text" id="phonenumber" class="form-control" #phone="ngModel" required pattern="\d{10,12}" name="phone"
      [(ngModel)]="contact.phone">
  </div>

  <div class="form-group">
    <label for="dob">Date of birth (YYYY-MM-DD format)</label>
    <input type="text" id="dob" class="form-control" name="dob" [(ngModel)]="contact.dob">
  </div>

  <div class="form-group">
    <label for="city">City</label>
    <input type="text" id="city" class="form-control" name="city" [(ngModel)]="contact.city">
  </div>

  <div class="form-group">
    <label for="state">State</label>
    <input type="text" id="state" class="form-control" name="state" [(ngModel)]="contact.state">
  </div>

  <div class="form-group">
    <label for="country">Country</label>
    <input type="text" id="country" class="form-control" name="country" [(ngModel)]="contact.country">
  </div>

  <div class="form-group">
    <label for="picture">Picture (URL)</label>
    <input type="text" id="picture" class="form-control" name="picture" [(ngModel)]="contact.picture">
  </div>

  <button class="btn btn-{{ f1.invalid ? 'danger' : 'primary' }}" [disabled]="f1.invalid"
    (click)="addContact()">Add</button>

</form>
